* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-button {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 1rem 2rem;
    font-size: 3rem;
  }
}

footer {
  font-family: monospace;
}

.image-gallery {
  display: flex;
}
